<section class="podium">
  <div class="card second" *ngIf="_data[1]">
    <div class="name" (click)="navigateTo(_data[1].key)">
      <p>2º {{ _data[1].key }}</p>
    </div>
    <div class="img">
      <img [src]="_data[1].value.profile_image_url" alt="second" />
    </div>
    <div class="description friends">
      Amigos: <span>{{ _data[1]?.value?.accepted?.length }}</span>
    </div>
  </div>
  <div class="card first" *ngIf="_data[0]">
    <div class="name" (click)="navigateTo(_data[0].key)">
      <p>1º {{ _data[0].key }}</p>
    </div>
    <div class="img winner">
      <img [src]="_data[0].value.profile_image_url" alt="first" />
    </div>
    <div class="description friends">
      Amigos: <span>{{ _data[0]?.value?.accepted?.length }}</span>
    </div>
  </div>
  <div class="card third" *ngIf="_data[2]">
    <div class="name" (click)="navigateTo(_data[2].key)">
      <p>3º {{ _data[2].key }}</p>
    </div>
    <div class="img">
      <img [src]="_data[2].value.profile_image_url" alt="third" />
    </div>
    <div>
      <div class="description friends">
        Amigos: <span>{{ _data[2]?.value?.accepted?.length }}</span>
      </div>
    </div>
  </div>
</section>
